<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/na.png" class="img-thumbnail rounded-circle" alt="">
            <h1 class="display-4" width="200">Nico Abel Laia</h1>
            <p class="lead">World Class Programmer</p>
        </div>
    </div>
</div>